.input {
    font-family: inherit;
    font-size: 14px;
    padding: 12px 8px;
    border: 1px solid var(--gray-scale-4);
    border-radius: 4px;
    width: 100%;
    height: 44px;
    transition: border-color 0.2s;
    &:focus {
        outline: none;
        border-color: var(--primary-4);
    }
}
.input--error {
    border-color: var(--red-6);
}
